body {
  font-family: Optima, sans-serif;
}
.createPropertyView {
  display: flex;
  justify-content: space-evenly;
}


.formLine {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
}


.propertyImage {
  height: 28vh;
  max-width: 94%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.propertyImageDiv {
  display: flex;
  justify-content: center;
  width: 80%;
  border-right: 2px solid #890e05;
  border-left: 2px solid #890e05;
  border-top: 2px solid #890e05;
  margin-bottom: 0;
}

.allPropertyView {
  display: flex;
  justify-content: space-evenly;
}


.joinUs-loginDiv{
  margin: 5vw 0 4vw 3vw;
  float: left;
  min-width: 43vw;
  min-height: 80vh;
  border: 1px solid black;
  text-align: center;
  background: red;
}

.login-signup-form{
  min-width: 50vw;
  max-width: 50vw;
  /* display: none !important; */
  float: right;
  background: #890e05;
  display: flex;
  flex-direction: column;
  margin : 5vw 3vw 4vw 0;
  min-height: 90vh;
}

.login-form > form > * {
  display: inline-block;
  width: 80%;
}
.propertyDetails {
  width: 80%;
  border-right: 2px solid #890e05;
  border-left: 2px solid #890e05;
  border-bottom: 2px solid #890e05;
  color: #890e05;
  margin-top: 0;
  margin-bottom: 3%;
}

.feedView {
  margin: 0;
  padding-left: 3%;
}

.propAddress {
  margin-bottom: 3%;
}

.propFeatures {
  margin-bottom: 3%;
}

.propButton:link {
  text-decoration: none;
  color: #890e05;
}

.propButton:visited {
  text-decoration: none;
  color: #890e05;
}

.propertyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  display: flex;
  margin-bottom: 2%;
  padding-top: 1%;
  border-bottom: 2px solid #213f21;
  display: flex;
  color: #213f21;
}

.navLinks:link {
  text-decoration: none;
  color: #213f21;
  margin-right: 1%;
  margin-left: 1%;
  font-weight: bold;
}

.navLinks:visited {
  text-decoration: none;
  color: #213f21;
}

.logOutButton {
  border: none;
  font-size: 2vh;
  background-color: #213f21;
  color: #890e05;
  border: 2px solid #890e05;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 70%;
}

.divThatHoldsAllProps {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.propsByZip {
  margin-right: 3%;
  border: none;
  font-size: 2vh;
  background-color: white;
  color: #890e05;
  border: 2px solid #890e05;
  border-radius: 5px;
  font-weight: bold;
}

.searchButtonDiv {
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-end;
  

}


.extraStylesJumbo {
  width: 40%;
  margin-left: 5%;
  margin-top: 2%;
  background-color: #890e05;
  color: white;
  box-shadow: 5px 5px 20px white;
}

.extraStylesButton {
  background-color: white;
  color: #890e05;
  border-color: #890e05;
  margin-bottom: 2%;
}

.extraStylesButton:hover {
  background-color: #0a3d04;
  color: white;
  border-color: #0a3d04;
  margin-bottom: 2%;
}

.extraStyleHR {
  background-color: white;
}

.homePageStyleP {
  margin-bottom: 0;
}

.makeFlex {
  display: flex;
  flex-direction: row;
}

.linkClass {
  color: white;
  font-weight: bold;
  font-size: 2vh;
}

.linkClass:visited {
  color: white;
  font-weight: bold;
  font-size: 2vh;
}

.linkClass:hover {
  color: #0a3d04;
  font-weight: bolder;
  font-size: 2.2vh;
  text-decoration: none;
  
}

.extraNavStyle {
  background-color: #890e05;
  color: white;
}

.whiteFont:link {
  color: white;
  font-size: 2vh;
}

.whiteFont:visited {
  color: white;
  font-size: 2vh;
}

.addedStyleCard {
  width: 18rem;
  margin-bottom: 1%;
  margin-top: 1%;
  border-color: #890e05;
}

.flexTheCards {
  display: flex;
  justify-content: space-evenly;
}

.addedImageStyle {
  width: 50%;
  
}



.addedProfileStyle {
  /* margin-top: 2%; */
  width: 20%;
  float: left;
  margin-left: 16%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  border: 2px solid #890e05;
  border-radius: 5px;
}

.carouselImageStyle {
  height: 30vh;
  
}

.masterCarouselStyle {
  float: left;
  margin-left: 15%;
  height: 40vh;
  width: 90%;
  margin-right: 20%;
}

.propertiesCreated {
  margin-top: 2%;
  /* padding-left: 32%; */
  /* background-color: #0a3d04; */
  color: #890e05;
  border: 3px solid #890e05;
  border-radius: 3px;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.viewedProps {
  padding-top: 5%;
}

.editProfileForm {
  width: 40%;
  padding: 2%;
  margin-top: 5%;
  background-color: #0a3d04;
  border: 3px solid #e3ffee;
  color: #e3ffee;
}

.editProfDiv {
  display: flex;
  justify-content: center;
}

.addedImageStyleAllProps {
  padding: 1vw;
}

.addPropertyBackgroundImage {
  background-image: url('./lights.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.createNewPropForm {
  margin-bottom: 25%;
  background-color: white;
  border: 3px solid #0a3d04;
  color: #0a3d04;
  font-weight: bold;
  font-size: 2vh;
  padding-bottom: 7%;
}

.backgroundImageOnHome {
  padding-top: 5%;
  background-image: url('https://images.unsplash.com/photo-1480412904173-931fd2ecfccb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20%;
  padding-left: 3%;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.allPropertiesBackground {
  padding-top: 5%;
  background-image: url('./lights.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20%;
  padding-left: 3%;
}

.userProfileBackground {
  padding-top: 2%;
  background-image: url('./lights.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 52%;
  padding-left: 3%;
}

.bothCarousels {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: 85vh;
  float: right;
  margin-right: 20%;
  padding-right: 5%;
  padding-top: 1%;
  border: 2px solid #890e05;
  border-radius: 5px;
}

.propDetailBackground {
  padding-top: 5%;
  background-image: url('./lights.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20%;
  padding-left: 3%;
}

.propertyDetailStyling {
  border: 2px solid #890e05;
  border-radius: 5px;
}

.createReviewBackground {
  padding-top: 5%;
  background-image: url('./lights.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30%;
  padding-left: 3%;
}

.editPropertyBackground {
  padding-top: 5%;
  background-image: url('./lights.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30%;
  padding-left: 3%;
}

.blinkingLights {
  z-index: 1;
  position: absolute;
  margin-top: 29%;
}

.hideThisForm {
  display: none;
}

.showThisform {
  display: block;
}

.loginForm {
  margin-top: 75%;
  width: 210%;
  padding-left: 11%;
  margin-left: 50%;
  box-shadow: 5px 5px 20px white;
}

.signUpForm {
  margin-top: 32%;
  width: 115%;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 12%;
  padding-right: 4%;
  margin-left: 50%;
  box-shadow: 5px 5px 20px white;
}

.inputSpacingStyle {
  margin-bottom: 2rem;
  width: 90%;
}

.createPropFormInput {
  border-color: #0a3d04;
}

.createPropButton {
  background-color: #0a3d04;
  color: white;
  border-color: #0a3d04;
  margin-bottom: 2%;
}

.createPropButton:hover {
  background-color: #890e05;
  color: white;
  border-color: #890e05;
  margin-bottom: 2%;
}

.snowflake {
  color: #fff;
  font-size: 1.5em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}
.snowflakeTwo {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}


@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflakeTwo{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflakeTwo:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflakeTwo:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflakeTwo:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflakeTwo:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflakeTwo:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflakeTwo:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflakeTwo:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflakeTwo:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflakeTwo:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflakeTwo:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}


