.createPropertyView {
  display: flex;
  justify-content: space-evenly;
}

.mapDiv {
  background-image: url('./Miami-Hotels-Top-Five-Most-Expensive-Per-Room-Map.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 30%;
  border: 2px solid navy;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  text-align: center;
}

.propertyPageMapTitle {
  background-color: goldenrod;
  height: 10%;
  border: 2px solid navy;
  color: navy;
  width: 80%;
}

.createPropertyForm {
  border: 2px solid navy;
  width: 20%;
  margin-top: 2%;
}

.formLine {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
}

.formInput {
  width: 50%;
  border: 2px solid navy;
}

.formButton {
  margin-left: 10%;
  background-color: goldenrod;
  padding: 1%;
  font-size: 2vh;
  border: 2px solid navy;
}

.searchInput{
  width: 80%;
  border: 2px solid navy;
}

.propertyImage {
  height: 28vh;
  max-width: 94%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.propertyImageDiv {
  display: flex;
  justify-content: center;
  width: 80%;
  border-right: 2px solid #890e05;
  border-left: 2px solid #890e05;
  border-top: 2px solid #890e05;
  margin-bottom: 0;
}

.allPropertyView {
  display: flex;
  justify-content: space-evenly;
}

.propertyDetails {
  width: 80%;
  border-right: 2px solid #890e05;
  border-left: 2px solid #890e05;
  border-bottom: 2px solid #890e05;
  margin-top: 0;
  margin-bottom: 3%;
}

.feedView {
  margin: 0;
  padding-left: 3%;
}

.propAddress {
  margin-bottom: 3%;
}

.propFeatures {
  margin-bottom: 3%;
}

.propButton:link {
  text-decoration: none;
  color: #890e05;
}

.propButton:visited {
  text-decoration: none;
  color: #890e05;
}

.propertyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  display: flex;
  margin-bottom: 2%;
  padding-top: 1%;
  border-bottom: 2px solid #213f21;
  display: flex;
  color: #213f21;
}

.navLinks:link {
  text-decoration: none;
  color: #213f21;
  margin-right: 1%;
  margin-left: 1%;
  font-weight: bold;
}

.navLinks:visited {
  text-decoration: none;
  color: #213f21;
}

.logOutButton {
  border: none;
  font-size: 2vh;
  background-color: #213f21;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 70%;
}

.divThatHoldsAllProps {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.propsByZip {
  margin-right: 3%;
  border: none;
  font-size: 2vh;
  background-color: white;
  color: #890e05;
  border: 2px solid #890e05;
  border-radius: 5px;
  font-weight: bold;
}

.searchButtonDiv {
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-end;
  
}