body {
  font-family: Optima, sans-serif;
}
.createPropertyView {
  display: flex;
  justify-content: space-evenly;
}

.mapDiv {
  
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 30%;
  border: 2px solid navy;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  text-align: center;
}

.propertyPageMapTitle {
  background-color: goldenrod;
  height: 10%;
  border: 2px solid navy;
  color: navy;
  width: 80%;
}

.createPropertyForm {
  border: 2px solid navy;
  width: 20%;
  margin-top: 2%;
}

.formLine {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
}

.formInput {
  width: 50%;
  border: 2px solid navy;
}

.formButton {
  margin-left: 10%;
  background-color: goldenrod;
  padding: 1%;
  font-size: 2vh;
  border: 2px solid navy;
}

.searchInput{
  width: 80%;
  border: 2px solid navy;
}

.propertyImage {
  height: 28vh;
  max-width: 94%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.propertyImageDiv {
  display: flex;
  justify-content: center;
  width: 80%;
  border-right: 2px solid #890e05;
  border-left: 2px solid #890e05;
  border-top: 2px solid #890e05;
  margin-bottom: 0;
}

.allPropertyView {
  display: flex;
  justify-content: space-evenly;
}


.joinUs-loginDiv{
  margin: 5vw 0 4vw 3vw;
  float: left;
  min-width: 43vw;
  min-height: 80vh;
  border: 1px solid black;
  text-align: center;
  background: red;
}

.login-signup-form{
  min-width: 50vw;
  max-width: 50vw;
  /* display: none !important; */
  float: right;
  background: #890e05;
  display: flex;
  flex-direction: column;
  margin : 5vw 3vw 4vw 0;
  min-height: 90vh;
}

.login-form > form > * {
  display: inline-block;
  width: 80%;
}
.propertyDetails {
  width: 80%;
  border-right: 2px solid #890e05;
  border-left: 2px solid #890e05;
  border-bottom: 2px solid #890e05;
  color: #890e05;
  margin-top: 0;
  margin-bottom: 3%;
}

.feedView {
  margin: 0;
  padding-left: 3%;
}

.propAddress {
  margin-bottom: 3%;
}

.propFeatures {
  margin-bottom: 3%;
}

.propButton:link {
  text-decoration: none;
  color: #890e05;
}

.propButton:visited {
  text-decoration: none;
  color: #890e05;
}

.propertyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  display: flex;
  margin-bottom: 2%;
  padding-top: 1%;
  border-bottom: 2px solid #213f21;
  display: flex;
  color: #213f21;
}

.navLinks:link {
  text-decoration: none;
  color: #213f21;
  margin-right: 1%;
  margin-left: 1%;
  font-weight: bold;
}

.navLinks:visited {
  text-decoration: none;
  color: #213f21;
}

.logOutButton {
  border: none;
  font-size: 2vh;
  background-color: #213f21;
  color: #890e05;
  border: 2px solid #890e05;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 70%;
}

.divThatHoldsAllProps {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.propsByZip {
  margin-right: 3%;
  border: none;
  font-size: 2vh;
  background-color: white;
  color: #890e05;
  border: 2px solid #890e05;
  border-radius: 5px;
  font-weight: bold;
}

.searchButtonDiv {
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-end;
  

}


.extraStylesJumbo {
  width: 40%;
  margin-left: 5%;
  margin-top: 2%;
  background-color: #890e05;
  color: white;
}

.extraStylesButton {
  background-color: white;
  color: #890e05;
  border-color: #890e05;
  margin-bottom: 2%;
}

.extraStylesButton:hover {
  background-color: #0a3d04;
  color: white;
  border-color: #0a3d04;
  margin-bottom: 2%;
}

.extraStyleHR {
  background-color: white;
}

.homePageStyleP {
  margin-bottom: 0;
}

.makeFlex {
  display: flex;
  flex-direction: row;
}

.linkClass {
  color: white;
  font-weight: bold;
  font-size: 2vh;
}

.extraNavStyle {
  background-color: #890e05;
  color: white;
}

.whiteFont:link {
  color: white;
  font-size: 2vh;
}

.whiteFont:visited {
  color: white;
  font-size: 2vh;
}

.addedStyleCard {
  width: 18rem;
  margin-bottom: 1%;
  margin-top: 1%;
  border-color: #890e05;
}

.flexTheCards {
  display: flex;
  justify-content: space-evenly;
}

.addedImageStyle {
  width: 50%;
}

.addedStylingCard {
  margin-top: 2%;
}


.addedProfileStyle {
  margin-top: 1%;
  width: 20%;
  float: left;
  margin-left: 16%;
}

/* .carouselImageStyle {
  height: 20vh;
  max-width: 20%;
} */

.masterCarouselStyle {
  float: left;
  margin-left: 20%;
  height: 40vh;
  width: 29%;
}

.propertiesCreated {
  margin-top: 2%;
  /* padding-left: 32%; */
  /* background-color: #0a3d04; */
  color: #890e05;
  border: 3px solid #890e05;
  border-radius: 3px;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.viewedProps {
  padding-top: 25%;
}

.editProfileForm {
  width: 40%;
  border: 3px solid #890e05;
  padding: 2%;
  margin-top: 5%;
}

.editProfDiv {
  display: flex;
  justify-content: center;
}

.addedImageStyleAllProps {
  padding: 1vw;
}

.addPropertyBackgroundImage {
  background-image: url('./lights.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.createNewPropForm {
  margin-bottom: 25%;
  background-color: #0a3d04;
  border: 3px solid #e3ffee;
  color: #e3ffee;
  font-weight: bold;
  font-size: 2vh;
}

.backgroundImageOnHome {
  padding-top: 5%;
  background-image: url('./lights.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20%;
  padding-left: 3%;
}

