
body {
  font-family: Optima, sans-serif;
}

/* ********************************************************************************** */
/* NAV BAR CSS */
/* ********************************************************************************** */
.redNavBar {
  background-color: #4d0000;
  padding-bottom: .5%;
  color: white;
}

.mapExtraStyle:link {
  margin-right: 30%;
  color: white;
  font-size: 2vh;
  text-decoration: none;
  }
  
  .mapExtraStyle:visited{
    margin-right: 30%;
    color: white;
    font-size: 2vh;
    text-decoration: none;
    }


/* ********************************************************************************** */
/* HOME PAGE CSS */
/* ********************************************************************************** */
.backgroundImageOnHome {
  padding-top: 5%;
  background-image: url('https://i.pinimg.com/originals/e5/65/46/e5654665864ff147788fa27c7e9e8948.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 3%;
  min-height: 100vh;
}

.snowflake {
  color: #D5AD6D;
  font-size: 1.5em;
  font-family: Arial;
  text-shadow: 0 0 1px white;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.snowflakeTwo {
  color: #D5AD6D;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px white;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);
  transform:translateX(0px)}50%{-webkit-transform:translateX(80px);
    transform:translateX(80px)}100%{-webkit-transform:translateX(0px);
      transform:translateX(0px)}}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}
.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;
  -webkit-animation-name:snowflakes-fall,snowflakes-shake;
  -webkit-animation-duration:10s,3s;
  -webkit-animation-timing-function:linear,ease-in-out;
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflakeTwo{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflakeTwo:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflakeTwo:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflakeTwo:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflakeTwo:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflakeTwo:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflakeTwo:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflakeTwo:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflakeTwo:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflakeTwo:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflakeTwo:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

.makeFlex {
  display: flex;
  flex-direction: row;
}

.extraStylesJumbo {
  width: 40%;
  margin-left: 5%;
  margin-top: 2%;
  background-color: #262626;
  border: 3px solid #D5AD6D;
  color: #D5AD6D;
  box-shadow: 5px 5px 20px #D5AD6D;
}

.gold {
  color:#D5AD6D; /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold-text {
  color:#c3a343;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(http://example.com/gold-texture-image.png) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}

@import url(https://fonts.googleapis.com/css?family=Arvo);

.whiteFont:link {
  color: white;
  font-size: 2vh;
  text-decoration: none;
}

.whiteFont:visited {
  color: white;
  font-size: 2vh;
}

.whiteFont:hover {
  color: white;
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
  text-decoration: none;
  font-size: 2vh;
  text-decoration: none;
}

  /* GOLD default */
  .neonHeader { 
    color: #D5AD6D;
      text-decoration: none;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
      background-color: transparent
  }

  /* NEON GOLD on hover */
  .neonHeader:hover {
    color: #D5AD6D;
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
    text-decoration: none;
  }

  /* SUBMIT Button on hover */
  .neonButtons:hover {
    border: 2px solid white;
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 2vh;
    color: #D5AD6D;
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
    text-decoration: none;
  }
  
  /* SUBMIT Button DEFAULT */
  .neonButtons {
    margin-bottom: 2%;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 2vh;
  }

.extraStyleHR {
  background-color: white;
}

.homePageStyleP {
  margin-bottom: 0;
}

.whiteLettersHome {
  color: #fff;
  text-decoration: none;
}

.whiteLettersHome:hover {
  color: #fff;
  text-decoration: none;
}


/* ********************************************************************************** */
/* SIGN-UP VIEW CSS */
/* ********************************************************************************** */

.signUpForm {
  width: 106%;
  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 12%;
  padding-right: 4%;
  margin-top: 10%;
  margin-left: 35%;
  box-shadow: 5px 5px 20px #D5AD6D;
}

.signUpButtonNeon {
  background-color: #262626;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}

.signUpButtonNeon:hover {
  color: #D5AD6D;
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
    text-decoration: none;
}

.inputSpacingStyle {
  margin-bottom: 2rem;
  width: 90%;
  background-color: rgba(213, 173, 109, .8);
  color: #262626;
  border-color: #262626;
}

.inputSpacingStyle::placeholder{
  color: #262626;
}


/* ********************************************************************************** */
/* LOGIN VIEW CSS */
/* ********************************************************************************** */
.loginLabelColor {
  color: white;
}

.loginForm {
  margin-top: 50%;
  width: 210%;
  padding-left: 11%;
  margin-left: 50%;
  box-shadow: 5px 5px 20px #D5AD6D;
}


/* ********************************************************************************** */
/* FEED PAGE CSS */
/* ********************************************************************************** */
.allPropertiesBackground {
  background-image: url('https://cbsminnesota.files.wordpress.com/2013/01/candlelight-vigil.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.allPropertyView {
  display: flex;
  justify-content: space-evenly;
}

.addedImageStyleAllProps {
  padding: 1vw;
}

.searchButtonDiv {
  padding-top: 2%;
  margin-right: 4%;
  display: flex;
  justify-content: flex-end;
}

.nearMeButton {
  margin-bottom: 2%;
  border: 2px solid rgba(255, 237, 200, 0.8);
  color: rgba(255, 237, 200, 0.8);
  font-weight: bold;
  font-size: 2vh;
  background-color: #D5AD6D;
}

.nearMeButton:hover {
  color: #D5AD6D;
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
    text-decoration: none;
}

.propertyFeed {
  color: white;
    -webkit-animation: neonHeader 1.5s ease-in-out infinite alternate;
    -moz-animation: neonHeader 1.5s ease-in-out infinite alternate;
    animation: neonHeader 1.5s ease-in-out infinite alternate;
    text-decoration: none;
    margin-right: 52%;
    font-size: 7vh;
}

.addedStyleCard {
  width: 22rem;
  margin-bottom: 1%;
  margin-top: 6%;
  background-color: rgba(255, 237, 200, 0.4);
  border: 3px solid #D5AD6D;
}

.flexTheCards {
  display: flex;
  justify-content: space-evenly;
}

.seeDetailsButton {
  margin-bottom: 2%;
  border: 2px solid rgba(255, 237, 200, 0.8);
  color: rgba(255, 237, 200, 0.8);
  font-weight: bold;
  font-size: 2vh;
  background-color: #D5AD6D;
}

.seeDetailsButton:hover {
  color: #D5AD6D;
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
    text-decoration: none;
}

.yesButton:hover {
  color: white;
  color: #0a3d04;
  text-decoration: none;
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate; 
  margin-bottom: 2%;
  border-radius: 5px;
  margin-left: 5px;
}

.yesButton {
  background-color: #0a3d04;
  color: white;
  border-color: white;
  margin-bottom: 2%;
  border-radius: 5px;
  margin-left: 10px;
  padding-left: 3%;
  padding-right: 3%;
}

.addedImagePadding {
  padding: 5%;
  max-width: 100%;
  max-height: 55%;
}

.allPropertiesCardText {
  color: #52383f;
}


/* ********************************************************************************** */
/* PROFILE PAGE CSS */
/* ********************************************************************************** */
.userProfileBackground {
  padding-top: 2%;
  background-image: url('https://images.pexels.com/photos/754263/pexels-photo-754263.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 3%;
  min-height: 100vh;
}

.userPicture {
  margin-left: 5%;
  width: 90%
}

.userName {
  font-size: 4vh;
  width: 100%;
}

.addedProfileStyle {
  margin-top: 4%;
  width: 20%;
  float: left;
  margin-left: 16%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  border-radius: 5px;
  background-color: rgba(237,175,91,.4);
  border: 2px solid #D5AD6D;
}

.profileDetailsBackground {
  border: 2px solid #D5AD6D;
  color: white;
  width: 90%;
  margin-left: 5%;
}

.zipCodeEmailBackground {
  background-color: rgba(63,77,85,.5);
}

.carouselImageStyle {
  height: 30vh;
}

.masterCarouselStyle {
  float: left;
  margin-left: 15%;
  height: 40vh;
  width: 90%;
  margin-right: 20%;
}

.bothCarousels {
  display: flex;
  flex-direction: column;
  background-color: rgba(237,175,91,.4);
  width: 33%;
  height: 85vh;
  float: right;
  margin-right: 20%;
  padding-right: 5%;
  padding-top: 1%;
  border-radius: 5px;
  border: 2px solid #D5AD6D;
}

.propertiesCreated {
  margin-top: 2%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 4vh;
  width: 100%;
}

.viewedProps {
  padding-top: 5%;
}


/* ********************************************************************************** */
/* EDIT PROFILE PAGE CSS */
/* ********************************************************************************** */
.editProfileBackground {
  padding-top: 2%;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 3%;
  min-height: 100vh;
}

.editProfileHeader {
  color: white;
    -webkit-animation: neonHeader 1.5s ease-in-out infinite alternate;
    -moz-animation: neonHeader 1.5s ease-in-out infinite alternate;
    animation: neonHeader 1.5s ease-in-out infinite alternate;
    text-decoration: none;
    margin-right: 52%;
    font-size: 7vh;
    position: absolute;
    z-index: 2;
    margin-left:  33%;
    width: 100%
}

.editProfileForm {
  width: 30%;
  padding: 3%;
  margin-top: 8%;
  background-color: #262626;
  border: 3px solid #D5AD6D;
  color: #D5AD6D;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  padding-left: 5%;
  margin-right: 10%;
  margin-left: 42%;
  position: absolute;
}

.addedInputClassProfile {
  width: 90%; 
}

.profilePicDiv {
  border-radius: 5px;
  margin-top: 2%;
  background-color: #262626;
  padding: 3%;
  border: 3px solid #D5AD6D;
  margin-left: 18%;
  position: absolute;
  z-index: 1;
}

.editProfilePageProfPic {
  width: 20vw;
  border-radius: 5px;
} 

.editProfDiv {
  display: flex;
    padding-top: 5%;
    background-image: url('https://news.liverpool.ac.uk/wp-content/uploads/2018/11/Christmas-lights.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30%;
    padding-left: 3%;
    min-height: 100vh;
}

/* ********************************************************************************** */
/* CREATE PROPERTY PAGE CSS */
/* ********************************************************************************** */
.createPropertyView {
  display: flex;
  justify-content: space-evenly;
}

.addPropertyHeader {
  color: #D5AD6D;
  -webkit-animation: neonHeader 1.5s ease-in-out infinite alternate;
  -moz-animation: neonHeader 1.5s ease-in-out infinite alternate;
  animation: neonHeader 1.5s ease-in-out infinite alternate;
  text-decoration: none; 
  font-size: 7vh;
  padding-top: 5%;
}

.addPropertyBackgroundImage {
  background-image: url('https://news.liverpool.ac.uk/wp-content/uploads/2018/11/Christmas-lights.jpg'); 
  background-repeat: no-repeat;
  background-size: cover; 
  /* background-color: black; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.createNewPropForm {
  margin-bottom: 20%;
  background-color: #262626;
  border: 3px solid #D5AD6D;
  font-weight: bold;
  font-size: 2vh;
  width: 30%;
  padding: 1%;
  margin-top: 7%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 4.5%;
  border-radius: 5px;
  color: #0a3d04;
  font-weight: bolder;
}

.createPropFormInput {
  width: 80%;
}

.createPropButton {
  color: #0a3d04;
  border: 1px solid #D5AD6D;
  margin-bottom: 2%;
}

.createPropButton:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
  text-decoration: none;
  color: white;
  border: 1px solid #D5AD6D;
  margin-bottom: 2%;
}

/* ********************************************************************************** */
/* EDIT PROPERTY PAGE CSS */
/* ********************************************************************************** */
.editPropertyForm {
  padding: 3%;
  margin-top: 5%;
  width: 45%;
  padding-left: 4%;
  border: 3px solid #262626;
  color: #262626;
  border-radius: 5px;
  background-image: url('https://i.pinimg.com/originals/97/3a/4f/973a4ffb5c851445876f091005bce505.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.editPropertyBackground {
  padding-top: 5%;
  background-image: url('https://recoinstitute.com/wp-content/uploads/2017/12/pull-up-christmas-tree-with-lights.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30%;
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editPropertyHeader {
  color: white;
    -webkit-animation: neonHeader 1.5s ease-in-out infinite alternate;
    -moz-animation: neonHeader 1.5s ease-in-out infinite alternate;
    animation: neonHeader 1.5s ease-in-out infinite alternate;
    text-decoration: none;
    font-size: 7vh;
    margin-left:  70%;
    width: 100%
}

.extraStylesButtonEditProperty{
  color: #D5AD6D;
  border-color: #D5AD6D;
  text-decoration: none;
  margin-bottom: 2%;
  margin-right: 2%;
  background-color: #262626;
}

.extraStylesButtonEditProperty:hover {
  color: white;
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
  text-decoration: none;
  margin-bottom: 2%;
}

/* ********************************************************************************** */
/* PROPERTY DETAILS PAGE CSS */
/* ********************************************************************************** */

.propDetailBackground {
  padding-top: 5%;
  background-image: url('./lights.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20%;
  padding-left: 3%;
}

.propertyDetailStyling {
  border: 2px solid #890e05;
  border-radius: 5px;
}

.addedImageStyle {
  width: 50%; 
}



/* ********************************************************************************** */
/* ADD REVIEW PAGE CSS */
/* ********************************************************************************** */

.createReviewBackground {
  padding-top: 5%;
  background-image: url('https://images.unsplash.com/photo-1480412904173-931fd2ecfccb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30%;
  padding-left: 3%;
  min-height: 100vh;
}

.createReviewForm {
  width: 36%;
  padding: 3%;
  margin-top: 3%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid white;
  color: #D5AD6D;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  padding-left: 3%;
  margin-right: 10%;
  margin-left: 5%;
  position: absolute;
}

.reviewInputs {
  background-color: rgba(213, 173, 109, .5);
  border-color: white;
  margin-bottom: 10%;
}

.addReviewLabelFont {
  color: white;
  font-size: 2vh;
}

.addReviewHeader {
  color: white;
    -webkit-animation: neonHeader 1.5s ease-in-out infinite alternate;
    -moz-animation: neonHeader 1.5s ease-in-out infinite alternate;
    animation: neonHeader 1.5s ease-in-out infinite alternate;
    text-decoration: none;
    margin-right: 52%;
    font-size: 7vh;
    margin-left:  10%;
    width: 100%
}

.seeDetailsButton {
  margin-bottom: 2%;
  border: 2px solid rgba(255, 237, 200, 0.8);
  color: rgba(255, 237, 200, 0.8);
  font-weight: bold;
  font-size: 2vh;
  background-color: #D5AD6D;
}

/* ********************************************************************************** */
/* MAPS PAGE CSS */
/* ********************************************************************************** */







/* Misc - potentially not being used at all */

.formLine {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
}

.propertyImage {
  height: 28vh;
  max-width: 94%;
  padding-top: 5%;
  padding-bottom: 10%;
}


.feedView {
  margin: 0;
  padding-left: 3%;
}

.propAddress {
  margin-bottom: 3%;
}

.propFeatures {
  margin-bottom: 3%;
}


























  


















  /* NEON WEBKITS */

  @-webkit-keyframes neonHeader {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #D5AD6D, 0 0 90px #D5AD6D, 0 0 100px #D5AD6D, 0 0 110px #D5AD6D, 0 0 170px #D5AD6D;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #D5AD6D, 0 0 55px #D5AD6D, 0 0 65px #D5AD6D, 0 0 75px #D5AD6D, 0 0 85px #D5AD6D;
    }
  }

  @keyframes neonHeader {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #D5AD6D, 0 0 70px #D5AD6D, 0 0 80px #D5AD6D, 0 0 100px #D5AD6D, 0 0 150px #D5AD6D;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #D5AD6D, 0 0 35px #D5AD6D, 0 0 40px #D5AD6D, 0 0 50px #D5AD6D, 0 0 75px #D5AD6D;
    }
  }

  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  @-webkit-keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
  
  @-webkit-keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #D5AD6D, 0 0 70px #D5AD6D, 0 0 80px #D5AD6D, 0 0 100px #D5AD6D, 0 0 150px #D5AD6D;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #D5AD6D, 0 0 35px #D5AD6D, 0 0 40px #D5AD6D, 0 0 50px #D5AD6D, 0 0 75px #D5AD6D;
    }
  }
  
  @-webkit-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
    }
  }
  
  @-webkit-keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
  }
  
  @-webkit-keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  
  /*glow*/
  
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
  
  @keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #D5AD6D, 0 0 70px #D5AD6D, 0 0 80px #D5AD6D, 0 0 100px #D5AD6D, 0 0 150px #D5AD6D;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #D5AD6D, 0 0 35px #D5AD6D, 0 0 40px #D5AD6D, 0 0 50px #D5AD6D, 0 0 75px #D5AD6D;
    }
  }
  
  @keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
    }
  }
  
  @keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
  }
  
  @keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }

  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .makeFlex{
    display: flex;
    flex-flow: column wrap;
  }
  .extraStylesJumbo{
    width: 90%;
  }
  .signUpForm{
    width: 90%;
    padding-bottom: 15%;
    padding-left: 12%;
    padding-right: 4%;
    box-shadow: 5px 5px 20px #D5AD6D;
    margin-left: 5%; 
  }
  .loginForm{
    margin-top: 0%;
    /* width: 210%; */
    padding-left: 11%;
    margin-left: 5%;
    box-shadow: 5px 5px 20px #D5AD6D;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .makeFlex{
    display: flex;
    flex-flow: column wrap;
  }
  .extraStylesJumbo{
    width: 90%;
  }
  .signUpForm{
    width: 90%;
    padding-bottom: 15%;
    padding-left: 12%;
    padding-right: 4%;
    box-shadow: 5px 5px 20px #D5AD6D;
    margin-left: 5%; 
  }
  .loginForm{
    margin-top: 0%;
    /* width: 210%; */
    padding-left: 11%;
    margin-left: 5%;
    box-shadow: 5px 5px 20px #D5AD6D;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  .loginForm{
    margin-left: 2%;
    width: 47vw;
    margin-top:25%
  }
  .signUpForm{
    margin-left: 2%;
    
  }
  .backgroundImageOnHome{
    padding-top: 0%; 
    padding-left: 1%;
  }
  .jumbotron{
    padding-bottom: 0 rem !important; 
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1390px) {
  .loginForm{
    margin-left: 17%;
    margin-top: 34%;
    width: 34vw;
  }
  .signUpForm{
    margin-left: 15%;
    margin-top: 20%;
  }
  .welcome-div{
    margin-top: 6%;
    margin-left: 9%;
  }

}

@media only screen and (min-width: 2559px) {






}



